/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --menu-tc: #ff0070;
  --title-tc: #db00ff;
  --subtitle-tc: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --hover-color: #ff007066;
  --focus-color: #ff0070;
  --active-color: #ff0070;
}
