/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --family: 'IBM Plex Mono', 'Helvetica', 'Arial', sans-serif;
  --accent-color: #ff0070;
  --main-fs: 18px;
  --text-color: #f1b2ce;
  --title-tc: #d800ff;
  --subtitle-tc: #00002b;
  --title-tsm: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-tsd: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --bg-image: url(../images/cover-image-dark.png);
}