/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --menu-tc: #353430;
  --title-tc: #ffc2e6;
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #fff1f7;
  --hover-color: #32312d66;
  --focus-color: #353430;
  --active-color: #353430;
  --subtitle-tc: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --menu-tc: #353430;
    --title-tc: #ffc2e6;
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #fff1f7;
    --hover-color: #32312d66;
    --focus-color: #353430;
    --active-color: #353430;
    --subtitle-tc: #353430;
  }

  .decorated-zone {
    display: none;
  }
}

.theme-light .decorated-zone {
  display: none;
}
